.brands {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
    row-gap: 24px;
}

.brands__title {
    background: linear-gradient(to right, #F8F8F8 0%, #FFF 98.61%);
    height: 56px;
    display: flex;
    align-items: center;
    color: #7E7E82;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 16px 32px;
    border-top: 1px #d9fff5 solid;
}

.brands__card {
//overflow: hidden;
    margin-top: 16px;

    @media (min-width: 768px) {
        margin: 0;
        padding-top: 24px;
        padding-left: 32px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 16px;
        height: 185px;
        overflow: hidden;
    }
}
.brands__card--active {
    height: 100%;
}


.read-more {
    @media (min-width: 767px) {
        width: 160px;
    //position: absolute;
    //bottom: -10px;
    //left: 32px;
        padding-top: 24px;
        padding-left: 32px;
    //transform: translate(0, 100%);
    }
}

.main .brands .swiper {
    @media (min-width: 768px) {
        display: none;
    }
}

.main .brands > .brands__card {
    @media (max-width: 767px) {
        display: none;
    }
}

.main .brands .read-more {
    @media (max-width: 767px) {
        display: none;
    }
}